.wk-btn {
  @apply text-center  text-white;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 3px;
  font-weight: 600;
  transition: all 0.3s;
  svg {
    animation: spin 1s linear infinite;
    margin: auto;
    transition: all 0.3s;
  }
  &:hover {
    background-color: transparent;
    border-color: white;
  }
  &--bg {
    @apply px-10 py-6;
  }
  &--md {
    @apply px-7 py-4;
  }
  &--sm {
    @apply px-4 py-3;
  }
  &--yellow {
    @apply bg-yellow-700 border-yellow-700;
  }
  &--blue {
    background-color: #0085fe;
    border-color: #0085fe;
  }
  &--green {
    @apply bg-green-700 border-green-700;
  }
  &--red {
    @apply bg-red-500 border-red-500;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
