@import "page";
@import "sidebar";
@import "header";
@import "clientes/main.scss";
@import "../components/main.scss";

.wkode-page-admin-main {
  background: #1a1b1e;
  transition: all 0.3s;
}
.list-clients-header {
  @apply grid grid-cols-2;

  margin-bottom: 3.9rem;
  margin-top: 4.8rem;
}

.wk-admin-page-wrapper {
  align-self: flex-end;
}
