@import "page";
@import "sidebar";
@import "header";
@import "clientes/main.scss";
@import "../components/main.scss";

.wkode-page-admin-main {
  background: #1a1b1e;
  transition: all 0.3s;
}

.wk-admin-page-wrapper {
  align-self: flex-end;
}
