.wkode-admin-sidebar {
  border-right: 1px solid #2c3131;
  font-size: 2rem;
  height: 100%;
  left: 0;
  padding-top: 3.2rem;
  position: fixed;
  top: 5.2rem;
  z-index: 998;
  &__menu {
    &-wrapper {
      margin: 0 1.8rem;
    }
  }
  &__menu-item {
    display: block;
    height: 2.6rem;
    padding: 0;
    position: relative;
    transition: all 0.3s;
    width: 100%;
    svg,
    path {
      transition: all 0.3s;
    }
    &:not(:last-of-type) {
      margin-bottom: 1.6rem;
    }
    &--active {
      svg,
      path {
        fill: #0085fe;
      }
      color: #0085fe;
    }
    &:hover {
      svg,
      path {
        fill: #0085fe;
      }
      color: #0085fe;
    }
  }
}
