.wkode-admin-sidebar {
  background: black;
  font-size: 2rem;
  left: 0;

  padding-top: 7rem;
  position: absolute;
  top: 0px;
  z-index: 998;
  a {
    display: block;
    padding-left: 1.2rem;
    width: 100%;
  }
}
