.wk-products {
  @apply pt-48;
  padding-bottom: 20rem;
  .product-card {
    border-radius: 1rem;
    box-shadow: 10px 10px 40px -3px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    .product-image {
      height: 40rem;
      object-fit: cover;
      width: 100%;
      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
    .product-info {
      background-color: #f9f9f9;
      @apply py-12 px-4;
      .product-title {
        @apply text-3xl text-center font-semibold;
      }
      .product-price {
        @apply text-4xl text-center text-front-blue font-medium;
      }
    }
  }
  .product-pagination {
    align-content: center;
    align-items: center;
    color: black;
    display: flex;
    flex-direction: row;
    font-size: 2.1rem;
    font-weight: 400;
    gap: 1rem;
    justify-content: center;
    margin-top: 4rem;
    .wk-pagination__button {
      &--active {
        @apply text-front-blue;
        font-weight: 600;
      }
    }
  }
}
