.wk-testimonials {
    background-attachment: fixed;
    background-image: url("../../../../public/static/images/background-full.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30rem;
    position: relative;

    .wk-testimonial {
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        gap: -3rem;
        padding: 3rem;
        border-radius: 8px;
        position: relative;
        z-index: 1;
        
        &:nth-of-type(1) {
            background-image: url("../../../../public/static/images/TestimonialBackground1.png");
        }
        &:nth-of-type(2) {
            background-image: url("../../../../public/static/images/TestimonialBackground2.png");
        }
        &:nth-of-type(3) {
            background-image: url("../../../../public/static/images/TestimonialBackground3.png");
        }
        
        &__bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &__stars {
            display: flex;
            gap: .2rem;
            font-size: 2.2rem;
            margin-bottom: 1rem;

            &.color-1 {
                color: #5c009b!important;
            }

            &.color-2 {
                color: #009245!important;
            }

            &.color-3 {
                color: #ff00ff!important;
            }
        }

        &__chat {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 245px;

            img {
                position: absolute;
                z-index: -1;
                left: 1.6rem;
            }
        }

        &__text {
            width: 68%;
            margin-bottom: .5rem;
        }

        &__author {
            width: 60%;
        }
    }
}